[Unit]
Description=Power Outage Checker
After=network.target
After=network-online.target

[Service]
WorkingDirectory=/opt/power-outage-checker
ExecStart=/root/.nvm/nvm-exec npm start
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target